@import "tailwindcss";
body {
  /* max-width: 1600px; */
  margin: auto;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.section-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4em; /* 40% = 0.4em */
  background: linear-gradient(90deg, #82f4b1 0%, #30c67c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-text-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4em; /* 40% = 0.4em */
  color: white;
}
@media (max-width: 640px) {
  .section-text-2 {
    font-size: 11px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.grow {
  background: linear-gradient(
    180deg,
    rgba(48, 198, 124, 0) -36.99%,
    rgba(48, 198, 124, 0.9) 93.84%
  );
}
