@import "tailwindcss";
body {
  /* max-width: 1400px; */
  margin: auto;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.section-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4em; /* 40% = 0.4em */
  background: linear-gradient(90deg, #82f4b1 0%, #30c67c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-text-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4em; /* 40% = 0.4em */
  color: white;
}
